@for (node of nodes(); track $index) {
  @if (contentTemplate){
  <ng-container *ngTemplateOutlet="contentTemplate; context: { $implicit: node, toggle: getToggleNodeFunction($index), isOpened: nodeIsOpened($index) }" (click)="toggleNode($index)"></ng-container>
  }
  @else {
  <div (click)="toggleNode($index)">
    {{ node.label }}
  </div>
  }
  <!-- <li (click)="toggleNode($index)">{{ node.label }}</li> -->
  @if (node.children && nodeIsOpened($index)){
    <app-tree [nodes]="node.children" (nodeToggled)="nodeToggled.emit($event)" [contentTemplate]="contentTemplate"></app-tree>
  }
}
