<button (click)="tree.closeAllNodes(false)">Close root nodes</button>
<button (click)="tree.closeAllNodes(true)">Close all nodes</button>
<app-tree #tree [nodes]="treeNodes" (nodeToggled)="onNodeToggled($event)">
  <ng-template let-node let-toggle="toggle" let-isOpened="isOpened" let-parent="parent" let-level="level">
    <div (click)="toggle()">
      @if (isOpened){
        <strong>-</strong>
      }
      @else{
        <strong>+</strong>
      }
      {{ node.label }} [{{ level }}]
      @if (parent){
        ({{ parent.label }})
      }
    </div>
  </ng-template>
</app-tree>